.MainWrapper { 
    width: 100%;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./music2.jpg");
  }